h1{
    font-size: 200px;
    color: purple;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1:hover{
    color: blue;
    transition: color 0.5s ease;
    cursor: pointer;
    transform: scale(1.1);
    
}

